html {
    box-sizing: border-box;
    background: #171717;
    color: rgb(88, 139, 11);
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0.625rem;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stopwatch, .timer {
    width: 49%;
}

.timer {
    border-left: 0.125rem solid rgb(88, 139, 11);
}

.timer__options {
    width: 100%;
    height: 20vh;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.timer__wrapper {
    position: relative;
    text-align: center;
    font-size: 2em;
}

:is(.top, .bottom) {
    position: absolute;
    cursor: pointer;
    font-family: 'Inconsolata', monospace;
    color: rgb(149, 147, 147);
    margin: 0.0625rem;
    left: 31%;
    transition: color 0.2s ease-in-out;
}

:is(.top, .bottom):hover {
    color: rgb(203, 202, 202);
    font-weight: bold;
}

.top {
    top: -2rem;
}

.bottom {
    bottom: -2rem;
}

.stopwatch__clock, .timer__clock {
    width: 100%;
    font-size: 5em;
    padding-top: 15vh;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer__clock_finish {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 1rem;
    font-size: 0.3em;
    color: rgb(149, 147, 147);
    margin-top: 1.313rem;
}

input {
    width: 50%;
    background: transparent;
    border: none;
    border-radius: 0.313rem;
    outline: none;
    color: inherit;
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    text-align: center;
    transition: border 0.2s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

.stopwatch__buttons, .timer__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    cursor: pointer;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1.5em;
    transition: background-color 0.2s ease-in-out;
}

.stopwatch__button_start, .timer__button_start {
    color: rgb(88, 139, 11);
    border: 0.0625rem solid rgb(88, 139, 11);
}

.stopwatch__button_start:hover, .timer__button_start:hover {
    background-color: rgba(88, 139, 11, 0.1);
}

.stopwatch__button_pause, .timer__button_pause {
    color: rgb(198, 160, 34);
    border: 0.0625rem solid rgb(198, 160, 34);
}

.stopwatch__button_pause:hover, .timer__button_pause:hover {
    background-color: rgba(198, 160, 34, 0.1);
}

.stopwatch__button_reset, .timer__button_stop {
    color: rgb(190, 22, 22);
    border: 0.0625rem solid rgb(190, 22, 22);
}

.stopwatch__button_reset:hover, .timer__button_stop:hover {
    background-color: rgba(190, 22, 22, 0.1);
}

:is(button:disabled, button:disabled:hover) {
    cursor: default;
    opacity: 0.5;
    background-color: transparent;
}

.hidden {
    display: none;
}

@media (max-width: 525px) {
    .options {
        font-size: 0.8em;
    }

    .clock {
        font-size: 2em;
    }
}